<section>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <!-- Email -->
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email">
      <mat-error *ngIf="email.errors && email.errors['required']" class="text-danger">
        Email jest wymagany
      </mat-error>
      <mat-error *ngIf="email.invalid && email.touched" class="text-danger">
        Email jest niepoprawny
      </mat-error>
    </mat-form-field>


    <!-- Password -->
    <mat-form-field>
      <input matInput type="password" placeholder="Hasło" formControlName="password">
      <mat-error *ngIf="password.errors && password.errors['required']" class="text-danger">
        Hasło jest wymagane
      </mat-error>
    </mat-form-field>


    <button mat-raised-button type="submit" [disabled]='form.invalid' color="primary">Zaloguj</button>
  </form>
</section>
