<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    Logo
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth"><a routerLink="/signup">Rejestracja</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login">Zaloguj</a></li>
      <li *ngIf="isAuth"><a routerLink="" (click)="onLogout()">Wyloguj</a></li>
    </ul>
  </div>
</mat-toolbar>
